* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
}

:root {
  --pale-blue-bg-color: #f8f9fd;
  --pale-blue-bg-color-2: #dae4fd;
  --primary-blue-color: #2f80ed;
  --min-content-height: calc(100dvh - 4.3rem);
  --fade-in-transition: fadeIn;
  --fade-in-from-right-transition: fadeInAndSlideFromRight;
}

.main__Layout {
  margin-top: 4.3rem;
  height: var(--min-content-height);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInAndSlideFromRight {
  from {
    opacity: 0;
    right: -10%;
  }
  to {
    opacity: 1;
    right: 0;
  }
}
