.home__Wrap {
  min-height: var(--min-content-height);
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
  gap: 4rem;
}

.home__Wrap,
.intro__Wrap,
.banner__Text {
  display: flex;
}

.intro__Wrap,
.banner__Text {
  flex-direction: column;
}

.intro__Wrap {
  gap: 2.5rem;
}

.banner__Text {
  font-size: 3rem;
  line-height: 1.25;
  gap: 1rem;
}

.slogan__Txt {
  font-weight: normal;
  font-size: 1.2rem;
}

@media screen and (max-width: 767px) {
  .home__Wrap {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    flex-direction: column;
    text-align: center;
    justify-content: start;
  }

  .banner__Text {
    font-size: 2rem;
    line-height: 1.5;
  }

  .slogan__Txt {
    font-size: 1rem;
  }

  .get__Started__Btn {
    margin: 0 auto !important;
  }

  .banner__Img {
    width: 100vw;
    height: 15rem;
  }
}
