.main__Wrap {
  min-height: var(--min-content-height);
  background-color: var(--pale-blue-bg-color);
  padding: 3rem 11rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.all__Boards__Wrap {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .main__Wrap {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .all__Boards__Wrap {
    flex-direction: column;
  }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
  .main__Wrap {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}